@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #262626;
  width: 90vw;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

#header {
  width: 310px;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
}

#logo {
  width: 300px;
  margin: 0 auto;
  display: block;
}

#logo__search {
  position: absolute;
  top: 30px;
  left: 10px;
  transform: rotate(-10deg);
  color: white;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-size: 70px;
  text-shadow: 0px 0px 5px #eb1f25;
  margin: 0;
}

#input__container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 10px;
}

#input__container input {
  padding: 8px 16px;
  border-radius: 10px;
  border: none;
}

#go__btn {
  padding: 8px 16px;
  border-radius: 10px;
  border: none;
  background-color: #eb1f25;
  color: white;
}

#main__game__container {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
}

#loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #f3f3f3;
  margin: 0 auto;
  animation: spin 2s linear infinite;
  border-top: 5px solid darkgrey;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#sorry__text {
  display: none;
  text-align: center;
  color: white;
  font-size: 20px;
  margin-top: 50px;
}

.game__container {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  color: white;
}

.game__img {
  height: 400px;
  border: 3px solid white;
}

.game__text__container {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  justify-content: space-around;
}

.game__name {
  margin: 0;
}

.game__description {
  margin: 0;
}

.game__release {
  margin: 0;
}

.game__platforms {
  margin: 0;
}
